/* Global styles */
body {
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    margin: 0;
}


/* Grid container */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Assign areas */
header { grid-area: header; }
main { grid-area: main; }
aside { grid-area: aside; }
footer { grid-area: footer; }

/* Header */
header {
    background-color: #63B3ED;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

header p {
    margin: 0;
}

.profile-pic {
    width: 150px;
    height: 110px;
    border-radius: 70%;
}

/* Blog Posts */
article h2 {
    font-size: 32px;
    color: #48BB78;
    margin-bottom: 5px;   
}

/* Style for date and author */
p.meta {
    font-style: italic;      
    color: #718096;           
    margin-top: 0;            
    margin-bottom: 10px;      
}

.float-left {
    float: left;
    margin-right: 15px;
    width: 150px;
    height: auto;
}

.float-right {
    float: right;
    margin-left: 15px;
    width: 150px;
    height: auto;
}

/* Sidebar */
aside h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about {
    background-color: #E2E8F0;
    padding: 10px;
}

.about h3 { color: #000000; }
.social-media h3, .archives h3 { color: #48BB78; }
.social-media a, .archives a { color: #4299E1; }

/* Footer */
footer {
    background-color: #2C5282;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}
